nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
    width: 85%;
    margin: 0 auto;
}

.nav-logo-container img {
    width: 15rem;
    height:5rem;
    object-fit: cover;
}

.navbar-links-container {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
}

.navbar-links-container a {
    color: rgb(242, 248, 246);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.primary-button {
    display: flex;
    padding: 1rem 3rem;
    background: #2DB375;
    color: azure;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;

}

.primary-button .arrow {
    margin-left: .5rem;
}

.primary-button:hover .arrow {
    transform: translateX(5px);
    transition: 0.6s;
}