.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    border: 1px solid white;
}

.nav-logo-container img {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
}

.navbar-links-container {
    width: 17rem;
    height: 25rem;

    background-color: var(--color-text-primary);
    padding: 2rem;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;

}

.navbar-links-container button {
    background-color: var(--color-surface);
    width: 2rem;
    border: none;
    border-radius: .5rem;
}

.navbar-links-container .close-btn {
    font-size: 2rem;
    color: var(--color-primary);
}

.navbar-links-container .menu {
    list-style: none;
    border: 1px solid black;
}

.menu li a {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.navbar-links-container a {
    color: var(--color-surface);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.navbar-links-container a:hover {
    color: var(--color-text-primary);
}

.navbar-links-container .primary-button {
    display: flex;
    padding: 1rem 3rem;
    background-color: var(--color-surface);
    color: var(--color-text-primary);
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.navbar-links-container .primary-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-surface);
}

.navbar-menu-container {
    background: transparent;
    border: none;
}

.navbar-menu-container .menu-button {
    background-color: var(--color-surface);
    color: var(--color-primary);
    border-radius: 10px;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.menu-content {
    display: none;
}

.menu-content.open {
    display: block;
}

.primary-button .arrow {
    margin-left: .5rem;
}

.primary-button:hover .arrow {
    transform: translateX(5px);
    transition: 0.6s;
}

@media (min-width: 1000px) {
    .menu-button {
        display: none;
    }
}