.perfil-container {
  margin-left: 15.62rem;
  padding: 2rem;
  min-height: 100vh;
}

.perfil-info {
  background-color: var(--color-surface-variant);
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.perfil-info__images {
  position: relative;
}

.perfil-banner img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.perfil-avatar {
  position: absolute;
  left: 2rem;
  bottom: -48px;
}

.perfil-avatar img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid var(--color-surface);
  object-fit: cover;
}

.perfil-identidade {
  padding: 4rem 2rem 1.5rem;
}

.perfil-identidade h2 {
  color: var(--color-text-primary);
}

.perfil-identidade__abaixo {
    display: flex;
    justify-content: space-between;
}

.perfil-identidade p {
  color: var(--color-text-dark);
  opacity: .9;
}

.perfil-card {
  background-color: var(--color-surface-variant);
  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.perfil-card h3 {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.perfil-sobre {
  color: var(--color-text-dark);
  line-height: 1.6;
}

.perfil-vazio {
  opacity: .9;
  font-style: italic;
}

.perfil-info-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.perfil-info-list span {
  font-size: 0.85rem;
  color: var(--color-text-opacity);
}

.perfil-info-list p {
  color: var(--color-text-primary);
  margin-top: 0.25rem;
}

/* ===== AÇÕES ===== */
.perfil-acoes {
  margin-top: 2rem;
  border: 1px solid red;
  display: flex;
  justify-content: end;
}

.perfil-acoes a {
    border: 1px solid var(--color-primary);
    background-color: var(--color-surface);
    
    border-radius: 25px;
    text-decoration: none;
    margin-right: .5rem;
    color: var(--color-primary);
    width: 6.875rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-acoes a:hover {
    color: var(--color-surface);
    background-color: var(--color-primary);
}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
  .perfil-container {
    margin-left: 0;
  }

  .perfil-avatar {
    left: 1.5rem;
  }
}
