


body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}



.Begin {
    height: 120vh;
    border: 1px solid transparent;
    max-width: 1700px;
    background-size: cover;
    background-image: url("../../assets/img3.png");
}




.reverse {
    flex-direction: row-reverse;
}