.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    width: 95%;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    box-shadow: 8px 55px 32px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: 57px;

    min-width: 20rem;
    width: 100%;
    max-width: 30rem;
    height: 20rem;
}

.about .about-line {
    width: 50%;
    height: .25rem;
    background: var(--color-linear);
    border-radius: 3px;
    margin: 1rem 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text h2 {
    font-weight: 800;
    font-size: var(--size-title-2);
    margin-bottom: 1rem;
    text-align: center;
}

.about-text p {
    font-weight: 600;
    font-size: var(--size-paragraph);
    line-height: 1.4;
    color: var(--color-text-opacity);
    width: 100%;
    max-width: 40rem;
    margin-bottom: 1rem;
}

.about-text button {
    background-color: var(--color-primary);
    color: var(--color-surface);
    width: 100%;
    max-width: 30rem;
    height: 4rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;

    font-size: var(--size-font-btn);
    font-weight: 600;

    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text button .arrow {
    font-size: 2rem;
}

.about-text button:hover .arrow {
    transform: translateX(5px);
    transition: 0.6s;
}

.about .reverse {
    flex-direction: column-reverse;
}

@media (min-width: 1024px) {
    .about .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .about .reverse {
        flex-direction: row-reverse;
    }

    .about-text {
        width: 50%;
        max-width: 50rem;
        align-items: start;
    }

    .about .about-text h2 {
        text-align: start;
    }

    .about .about-text p {
        max-width: 50rem;
    }

    .about .about-line {
        display: none;
    }
}