.testemonial {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.testemonial-text {
    max-width: 32.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.testemonial-line {
    display: flex;
    width: 20rem;
    height: 0.25rem;
    margin: 0 auto 2.5rem;
    background: linear-gradient(to right, #FFAC12 40%, #000000 80%);
    border-radius: 2px;
}

.testemonial-text p {
    max-width: 22rem;
    font-size: 1.5rem;
    line-height: 1.3;
    color: #040404;
    font-weight: 600;
    text-align: left;
}

.testemonial-users {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    padding: 1.25rem 5rem;
}

.user img {
    object-fit: cover;
    object-position: top;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user strong {
    font-size: 14px;
}

.user span {
    font-size: 15px;
    color: #020202;
    opacity: 0.5;
}

.user.active {
    background: #1C4532;
   
   
}

.user.active img {
    width: 50px;
    height: 50px;
    margin-bottom: 14px;
}

.user.active strong,
.user.active span {
    color: rgb(208, 201, 201);
}