.testemonial {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testemonial-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    max-width: 32.5rem;
    margin-bottom: 3rem;
}

.testemonial-line {
    display: flex;
    width: 75%;
    max-width: 20rem;
    height: 0.25rem;
    margin-bottom: 2rem;
    background: var(--color-linear);
    border-radius: 2px;
}

.testemonial-text h2 {
    font-size: var(--size-title-2);
    color: var(--color-text-dark);
    margin-bottom: 1rem;
}

.testemonial-text p {
    font-size: var(--size-paragraph);
    line-height: 1.3;
    color: var(--color-text-opacity-2);
    font-weight: 600;
    text-align: center;
}

.testemonial-users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.testemonial-users .user {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20rem;
    height: 6rem;
    background-color: var(--color-surface);
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    transition: transform 0.3s ease;
}

.testemonial-users .user img {
    object-fit: cover;
    object-position: top;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.testemonial-users .user strong {
    font-size: 1.25rem;
}

.testemonial-users .user span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text-opacity-2);
}

.testemonial-users .user:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
    transform: scale(1.05);
}

.testemonial-users .user:hover span {
    color: var(--color-surface-variant);
}