.post-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: stretch;

}
.post-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: stretch;

}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15.93rem;

}

.post-header h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-primary);
}

.post-header button {
    width: 12.5rem;
    height: 2.25rem;
    border-radius: 0.75rem;
    border: none;

    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-size: 0.75rem;
    font-weight: 600;

    gap: 0.62rem;
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
}

.post-header button img {
    width: 1.18rem;
    height: 1.18rem;
}

.post-header button:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    transform: translateY(0.12rem);
    transition: all 200ms ease-in;

}


.post-card {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

}

.post-form {
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.textarea-wrapper {
    position: relative;
    
    
}


.post-form textarea {
    width: 100%;
    max-width: 100%;
    height: 11.87rem;

    display: flex;
    flex-direction: column;
    position: relative;




    border-radius: 1rem;
    border: 0.06rem solid var(--color-surface-variant);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.01);

    padding: 1rem;
    font-size: 0.87rem;
    margin-top: 1rem;
    resize: none;
    font-family: 'Lexend', sans-serif;
}


.post-form textarea::placeholder {
    color: var(--color-text-opacity);
    font-size: 0.87rem;
    font-weight: 400;
    width: 37.5rem;
}

.emoji-button {
    position: absolute;
    top: 1.87rem;
    left: 44.87rem;
    right: 3.68rem;
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
        z-index: 2;
}

.emoji-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.post-form textarea:focus {
    outline: none;
    border: 0.12rem solid var(--color-primary);

}



.post-form .post-divider {
    position: absolute;
    top: 9.37rem;
    left: 1rem;
    right: 1rem;
    height: 0.12rem;
    opacity: 0.2;
    background-color: var(--color-text-opacity);
}

.post-actions {
    position: absolute;
    top: 9.81rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.post-icons {
    display: flex;
    gap: 1.56rem;
}

.post-icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 150ms ease;
    
}

.post-icons button:hover img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 0 var(--color-primary));
}

.post-icons button img {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;

}

.post-submit {
    width: 4.93rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    border: none;


    color: var(--color-surface);
    background-color: var(--color-primary);
    font: bold;
    cursor: pointer;

}

.post-submit:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    transform: translateY(0.12rem);
    transition: all 200ms ease-in;
}