* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
}

.content-area {
  margin-left: 15.625rem;
  
}

.layout {
  margin-left: 15.625rem;
}