.footer {
  background-color: var(--color-primary);
  color: var(--color-surface);
  padding: 5rem 1rem;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-surface);
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.footer-top h2 {
  font-size: var(--size-title-2);
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-top a {
  display: flex;
  padding: 1rem 3rem;
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-weight: 700;
}

.footer-top a .arrow {
  font-size: 2rem;
}

.footer-top a:hover .arrow {
  transform: translateX(5px);
  transition: 0.6s;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  width: 15rem;
  height: 5rem;
  object-fit: cover;
}

.footer .socials {
  display: flex;
  justify-content: space-around;
  min-width: 10rem;
  width: 50%;
  max-width: 15rem;
}

.footer .socials a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-surface);
  font-size: 1.5rem;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .footer {
    background: var(--color-background-linear-2);
  }
}

@media (min-width: 600px) {
  .footer-top {
    justify-content: space-between;
  }

  .footer-bottom {
    align-items: start;
  }
}