.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 16px; 
  background-color: var(--color-background);
}

/* TÍTULO */
.navbar-title {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 133%;
  letter-spacing: 0%;
  color: var(--color-text-primary);
}

/* CONTAINER DIREITA (input + ADD + Bell) */
.navbar-content-right {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-left: auto;
}

/* SEARCH */
.input-search {
  position: relative;
  width: 422px;
  height: 48px;
}

.input-search img {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 24px;
  height: 24px;
}

.input-search input {
  width: 100%;
  height: 100%;
  padding: 12px 16px 12px 48px;
  border-radius: 16px;
  border: none;
  outline: none;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  background-color: var(--color-surface);
  color: var(--color-text-secondary);
}

.input-search input::placeholder {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 137%;
  letter-spacing: 2%;
  color: var(--color-text-secondary);
}

/* BOTÕES */
.btn-add,
.btn-bell {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  padding: 12px;
  background-color: var(--color-surface);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
