.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: var(--color-background);
}

/* TÍTULO */
.navbar-title {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 1.56rem;
  line-height: 133%;
  letter-spacing: 0%;
  color: var(--color-text-primary);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

/* CONTAINER DIREITA (input + ADD + Bell) */
.navbar-content-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

/* SEARCH */
.input-search {
  position: relative;
  width: 26.37rem;
  height: 3rem;
}

.input-search img {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.input-search input {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: 'Lexend', sans-serif;
  font-size: 0.87rem;
  background-color: var(--color-surface);
  color: var(--color-text-secondary);
}

.input-search input::placeholder {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 137%;
  letter-spacing: 2%;
  color: var(--color-text-secondary);
}

/* BOTÕES */
.btn-add,
.btn-bell {
  width: 3rem;
  height: 3rem;
  border-radius: 3.12rem;
  padding: 0.75rem;
  background-color: var(--color-surface);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
