.input-form {
    display: flex;
    flex-direction: column;
}

label {
    /* font-size: .875rem; */
    margin-bottom: .25rem;
    font-weight: 600;
}

input {
    margin-bottom: 2rem;
    padding: .75rem .875rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    /* font-size: .875rem; */
    background-color: var(--color-surface);
}