.input-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: .25rem;
    font-weight: 600;
}

/* limitar esta estilização apenas aos inputs dentro do componente de formulário */
.input-form input {
    margin-bottom: 2rem;
    padding: .75rem .875rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    background-color: var(--color-surface);
}