* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    max-width: 100vh;
    height: auto;
}

.App {
   justify-content: center;
   align-items: center;
   min-height: 130vh;
   background-size: cover;
   background-position: center;
   background-image: url(Assets/img3.png);
}

.body {
    max-width: 100%;
    overflow-x: hidden;
    
}

