.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.landing .container {
    width: 100%;
    max-width: 50rem;
}

.landing-line {
    width: 50%;
    height: 0.25rem;
    background: var(--color-linear);
    border-radius: 2px;
    margin: 0 auto 1rem auto;
}

.landing h2 {
    font-size: var(--size-title-2);
    font-weight: 600;
    color: var(--color-surface-variant);
    margin-bottom: 1.5rem;
    text-align: center;
}

.landing-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.landing-cards .card {
    background-color: var(--color-surface);
    border-radius: 20px;
    padding: 1rem 1rem;
    width: 15rem;
    height: 20rem;
    color: var(--color-text-dark);
    transition: transform 0.3s ease;
}

.landing-cards .card:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
    transform: scale(1.05);
}

.landing .container button {
    width: 90%;
    max-width: 25rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 800;
    color: var(--color-text-dark);
    font-size: var(--size-font-btn);
    background-color: var(--color-surface);

    gap: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 2rem;
}

.landing button .arrow {
    font-weight: 800;
    font-size: 2rem;
}

.landing button:hover .arrow {
    transform: translateX(5px);
    transition: 0.6s;
}

@media (min-width: 1000px) {
    .landing {
        background: var(--color-background-linear);
    }
}