.home-background {
    height: 100vh;
    padding: 0 5%;
    background-size: cover;
    background-image: url("../../../assets/img3.png");
    background-color: var(--color-secondary);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .text-section {
    background-color: var(--color-background-dark);
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;

    height: 22rem;
    max-width: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-section .primary-heading {
    font-size: clamp(1rem, 3.5vw, 1.875rem);
    color: var(--color-surface);
}

.text-section .primary-text {
    color: var(--color-text-light);
    font-size: clamp(.875rem, 2vw, 1.125rem);
    line-height: 1.75;
    font-weight: 700;
}

@media (min-width: 750px) {
    .home {
        align-items: end;
    }
}