.home-background {
    height: 110vh;
    padding: 0 5%;
    background-size: cover;
    background-image: url("../../../assets/img3.png");
    background-color: var(--color-secondary);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .text-section {
    background-color: var(--color-background-dark);
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;

    height: fit-content;
    max-width: 40rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-section .primary-heading {
    font-size: var(--size-title-1);
    color: var(--color-surface);
}

.text-section .primary-text {
    color: var(--color-text-light);
    font-size: var(--size-paragraph);
    line-height: 1.75;
    font-weight: 500;
}

@media (min-width: 750px) {
    .home {
        align-items: end;
    }
}