.side-form {
  background-image: url('../../assets/img/forms/fundo-sideform.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-light);
  padding: 1rem 0;
  height: 100%;
  gap: 1rem;
}

.side-form .side-form__img {
  height: 45%;
  border-radius: 50%;
  object-fit: cover;
}

.side-form .side-form__text {
  text-align: center;
}

.side-form h2 {
  font-size: var(--size-title-3);
}

.side-form .side-form__description {
  width: 50ch;
  text-align: center;
  font-size: var(--size-paragraph);
}

@media (max-width: 1050px) {
  .side-form {
    display: none;
  }
}